.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

.h-custom {
    height: calc(100% - 73px);
}

@media (max-width: 450px) {
    .h-custom {
        height: 100%;
    }
}


/* Table Listview */

td, th {
    padding: 10px;
    margin: 10px;
}

th {
    color: #fffeff;
    background-color: #363636;
}

.t_odd {
    background-color: #808080;
}

.t_even {
    background-color: #808080;
}